@font-face {
    font-family: 'The-Icon-of';
    src:  url('fonts/The-Icon-of.eot?ww946b');
    src:  url('fonts/The-Icon-of.eot?ww946b#iefix') format('embedded-opentype'),
      url('fonts/The-Icon-of.ttf?ww946b') format('truetype'),
      url('fonts/The-Icon-of.woff?ww946b') format('woff'),
      url('fonts/The-Icon-of.svg?ww946b#The-Icon-of') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="tio-"], [class*=" tio-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'The-Icon-of' !important;
    font-size: 1.125em;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .tio-lg {
    font-size: 1.25rem;
  }
  
  .tio-xl {
    font-size: 1.75rem;
  }
  
  .tio-add-circle-outlined:before {
    content: "\e900";
  }
  .tio-add-circle:before {
    content: "\e901";
  }
  .tio-add-square-outlined:before {
    content: "\e902";
  }
  .tio-add-square:before {
    content: "\e903";
  }
  .tio-add:before {
    content: "\e904";
  }
  .tio-appointment-cancelled:before {
    content: "\e905";
  }
  .tio-appointment:before {
    content: "\e906";
  }
  .tio-archive:before {
    content: "\e907";
  }
  .tio-autorenew:before {
    content: "\e908";
  }
  .tio-block-ads:before {
    content: "\e909";
  }
  .tio-bookmark-outlined:before {
    content: "\e90a";
  }
  .tio-bookmark:before {
    content: "\e90b";
  }
  .tio-bookmarks-outlined:before {
    content: "\e90c";
  }
  .tio-bookmarks:before {
    content: "\e90d";
  }
  .tio-browser-window:before {
    content: "\e90e";
  }
  .tio-browser-windows:before {
    content: "\e90f";
  }
  .tio-cached:before {
    content: "\e910";
  }
  .tio-calendar-month:before {
    content: "\e911";
  }
  .tio-calendar-note:before {
    content: "\e912";
  }
  .tio-calendar:before {
    content: "\e913";
  }
  .tio-carousel-horizontal-outlined:before {
    content: "\e914";
  }
  .tio-carousel-horizontal:before {
    content: "\e915";
  }
  .tio-carousel-vertical-outlined:before {
    content: "\e916";
  }
  .tio-carousel-vertical:before {
    content: "\e917";
  }
  .tio-checkmark-circle-outlined:before {
    content: "\e918";
  }
  .tio-checkmark-circle:before {
    content: "\e919";
  }
  .tio-checkmark-square-outlined:before {
    content: "\e91a";
  }
  .tio-checkmark-square:before {
    content: "\e91b";
  }
  .tio-clear-circle-outlined:before {
    content: "\e91c";
  }
  .tio-clear-circle:before {
    content: "\e91d";
  }
  .tio-clear-square-outlined:before {
    content: "\e91e";
  }
  .tio-clear-square:before {
    content: "\e91f";
  }
  .tio-clear:before {
    content: "\e920";
  }
  .tio-column-view-outlined:before {
    content: "\e921";
  }
  .tio-column-view:before {
    content: "\e922";
  }
  .tio-command-outlined:before {
    content: "\e923";
  }
  .tio-command:before {
    content: "\e924";
  }
  .tio-date-range:before {
    content: "\e925";
  }
  .tio-done:before {
    content: "\e926";
  }
  .tio-drag:before {
    content: "\e927";
  }
  .tio-eject-circle-outlined:before {
    content: "\e928";
  }
  .tio-eject-circle:before {
    content: "\e929";
  }
  .tio-eject:before {
    content: "\e92a";
  }
  .tio-event:before {
    content: "\e92b";
  }
  .tio-exit-fullscreen-1-1:before {
    content: "\e92c";
  }
  .tio-exit-fullscreen-4-3:before {
    content: "\e92d";
  }
  .tio-exit-fullscreen-16-9:before {
    content: "\e92e";
  }
  .tio-find-replace:before {
    content: "\e92f";
  }
  .tio-first-page:before {
    content: "\e930";
  }
  .tio-hashtag:before {
    content: "\e931";
  }
  .tio-heart-outlined:before {
    content: "\e932";
  }
  .tio-heart:before {
    content: "\e933";
  }
  .tio-help-outlined:before {
    content: "\e934";
  }
  .tio-help:before {
    content: "\e935";
  }
  .tio-history:before {
    content: "\e936";
  }
  .tio-incognito:before {
    content: "\e937";
  }
  .tio-info-outined:before {
    content: "\e938";
  }
  .tio-info:before {
    content: "\e939";
  }
  .tio-key:before {
    content: "\e93a";
  }
  .tio-label-important:before {
    content: "\e93b";
  }
  .tio-label-off:before {
    content: "\e93c";
  }
  .tio-label-outlined:before {
    content: "\e93d";
  }
  .tio-label:before {
    content: "\e93e";
  }
  .tio-labels-outlined:before {
    content: "\e93f";
  }
  .tio-labels:before {
    content: "\e940";
  }
  .tio-last-page:before {
    content: "\e941";
  }
  .tio-layout:before {
    content: "\e942";
  }
  .tio-move-page:before {
    content: "\e943";
  }
  .tio-multi-direction-diagonal:before {
    content: "\e944";
  }
  .tio-multi-direction:before {
    content: "\e945";
  }
  .tio-notebook-bookmarked:before {
    content: "\e946";
  }
  .tio-notice-outlined:before {
    content: "\e947";
  }
  .tio-notice:before {
    content: "\e948";
  }
  .tio-open-in-new:before {
    content: "\e949";
  }
  .tio-pages-outlined:before {
    content: "\e94a";
  }
  .tio-pages:before {
    content: "\e94b";
  }
  .tio-publish:before {
    content: "\e94c";
  }
  .tio-record-screen:before {
    content: "\e94d";
  }
  .tio-refresh:before {
    content: "\e94e";
  }
  .tio-remaining-time:before {
    content: "\e94f";
  }
  .tio-remove-circle-outlined:before {
    content: "\e950";
  }
  .tio-remove-circle:before {
    content: "\e951";
  }
  .tio-remove-square-outlined:before {
    content: "\e952";
  }
  .tio-remove-square:before {
    content: "\e953";
  }
  .tio-remove:before {
    content: "\e954";
  }
  .tio-restore:before {
    content: "\e955";
  }
  .tio-search:before {
    content: "\e956";
  }
  .tio-settings-back:before {
    content: "\e957";
  }
  .tio-shopping-basket-add:before {
    content: "\e958";
  }
  .tio-shopping-basket-clear:before {
    content: "\e959";
  }
  .tio-shopping-basket-outlined:before {
    content: "\e95a";
  }
  .tio-shopping-basket-remove:before {
    content: "\e95b";
  }
  .tio-shopping-basket:before {
    content: "\e95c";
  }
  .tio-shopping-cart-add:before {
    content: "\e95d";
  }
  .tio-shopping-cart-off:before {
    content: "\e95e";
  }
  .tio-shopping-cart-outlined:before {
    content: "\e95f";
  }
  .tio-shopping-cart-remove:before {
    content: "\e960";
  }
  .tio-shopping-cart:before {
    content: "\e961";
  }
  .tio-snooze-notification:before {
    content: "\e962";
  }
  .tio-snooze:before {
    content: "\e963";
  }
  .tio-sort:before {
    content: "\e964";
  }
  .tio-star-half:before {
    content: "\e965";
  }
  .tio-star-outlined:before {
    content: "\e966";
  }
  .tio-star:before {
    content: "\e967";
  }
  .tio-subscribe:before {
    content: "\e968";
  }
  .tio-support:before {
    content: "\e969";
  }
  .tio-sync-off:before {
    content: "\e96a";
  }
  .tio-sync:before {
    content: "\e96b";
  }
  .tio-tab:before {
    content: "\e96c";
  }
  .tio-tabs:before {
    content: "\e96d";
  }
  .tio-time-20-s:before {
    content: "\e96e";
  }
  .tio-time-30-s:before {
    content: "\e96f";
  }
  .tio-time-40-s:before {
    content: "\e970";
  }
  .tio-time:before {
    content: "\e971";
  }
  .tio-timer-20-s:before {
    content: "\e972";
  }
  .tio-timer-30-s:before {
    content: "\e973";
  }
  .tio-timer-40-s:before {
    content: "\e974";
  }
  .tio-timer-off:before {
    content: "\e975";
  }
  .tio-timer:before {
    content: "\e976";
  }
  .tio-turn-off:before {
    content: "\e977";
  }
  .tio-unarchive:before {
    content: "\e978";
  }
  .tio-update:before {
    content: "\e979";
  }
  .tio-vibrations-off:before {
    content: "\e97a";
  }
  .tio-vibrations:before {
    content: "\e97b";
  }
  .tio-watch-later:before {
    content: "\e97c";
  }
  .tio-youtube-search:before {
    content: "\e97d";
  }
  .tio-battery-alert:before {
    content: "\e97e";
  }
  .tio-error-outlined:before {
    content: "\e97f";
  }
  .tio-error:before {
    content: "\e980";
  }
  .tio-message-failed-outlined:before {
    content: "\e981";
  }
  .tio-message-failed:before {
    content: "\e982";
  }
  .tio-new-release-outlined:before {
    content: "\e983";
  }
  .tio-new-release:before {
    content: "\e984";
  }
  .tio-notification-add:before {
    content: "\e985";
  }
  .tio-notifications-alert:before {
    content: "\e986";
  }
  .tio-notifications-off:before {
    content: "\e987";
  }
  .tio-notifications-on-outlined:before {
    content: "\e988";
  }
  .tio-notifications-on:before {
    content: "\e989";
  }
  .tio-notifications-outlined:before {
    content: "\e98a";
  }
  .tio-notifications:before {
    content: "\e98b";
  }
  .tio-report-outlined:before {
    content: "\e98c";
  }
  .tio-report:before {
    content: "\e98d";
  }
  .tio-security-warning-outlined:before {
    content: "\e98e";
  }
  .tio-security-warning:before {
    content: "\e98f";
  }
  .tio-warning-outlined:before {
    content: "\e990";
  }
  .tio-warning:before {
    content: "\e991";
  }
  .tio-arrow-backward:before {
    content: "\e992";
  }
  .tio-arrow-doublesided-horizontal:before {
    content: "\e993";
  }
  .tio-arrow-doublesided-vertical:before {
    content: "\e994";
  }
  .tio-arrow-downward:before {
    content: "\e995";
  }
  .tio-arrow-drop-down-circle-outlined:before {
    content: "\e996";
  }
  .tio-arrow-drop-down-circle:before {
    content: "\e997";
  }
  .tio-arrow-drop-up-circle-outlined:before {
    content: "\e998";
  }
  .tio-arrow-drop-up-circle:before {
    content: "\e999";
  }
  .tio-arrow-forward:before {
    content: "\e99a";
  }
  .tio-arrow-large-backward-outlined:before {
    content: "\e99b";
  }
  .tio-arrow-large-backward:before {
    content: "\e99c";
  }
  .tio-arrow-large-downward-outlined:before {
    content: "\e99d";
  }
  .tio-arrow-large-downward:before {
    content: "\e99e";
  }
  .tio-arrow-large-forward-outlined:before {
    content: "\e99f";
  }
  .tio-arrow-large-forward:before {
    content: "\e9a0";
  }
  .tio-arrow-large-upward-outlined:before {
    content: "\e9a1";
  }
  .tio-arrow-large-upward:before {
    content: "\e9a2";
  }
  .tio-arrow-left-circle-outlined:before {
    content: "\e9a3";
  }
  .tio-arrow-left-circle:before {
    content: "\e9a4";
  }
  .tio-arrow-long-down:before {
    content: "\e9a5";
  }
  .tio-arrow-long-left:before {
    content: "\e9a6";
  }
  .tio-arrow-long-right:before {
    content: "\e9a7";
  }
  .tio-arrow-long-up:before {
    content: "\e9a8";
  }
  .tio-arrow-right-circle-outlined:before {
    content: "\e9a9";
  }
  .tio-arrow-right-circle:before {
    content: "\e9aa";
  }
  .tio-arrow-upwa…